[Unit]
Description=SensorToInflux
After=network.target

[Service]
Restart=always
RestartSec=1
User=pi
WorkingDirectory=/home/pi/sensor_to_db
ExecStart=/home/pi/sensor_to_db/venv/bin/python /home/pi/sensor_to_db/sensor_to_db.py  --location house --sensor bmp280 --sensor DS18B20
Type=simple
PIDFile=/var/log/sensor_to_db.pid

[Install]
WantedBy=default.target
